<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>

    <vtex:metaTags/>
    <vtex:contentPlaceHolder id="metaTags" />
    <vtex:template id="GA-V-MOB-arquivos" />

</head>

<body>

    <vtex:template id="GA-V-MOB-header" />

    <main role="main" style="padding-top: 50px;">

        <vtex:contentPlaceHolder id="banner-faixa-frete 450x150" />

        <vtex:contentPlaceHolder id="banner-1 450x150" />
        <vtex:contentPlaceHolder id="nowlink" />
        <div class="box-banner">
            <div chaordic="top"></div>
        </div>


        <vtex:contentPlaceHolder id="banner-2 450x150" />

        <div class="box-banner">
            <div chaordic="middle"></div>
        </div>

        <vtex:contentPlaceHolder id="banner-3 450x150" />

        <vtex:contentPlaceHolder id="banner-4 450x150" />
        <div class="box-banner">
            <div chaordic="bottom"></div>
        </div>

        <vtex:contentPlaceHolder id="banner-5 450x150" />

    </main>

    <vtex:template id="GA-V-MOB-footer" />

</body>

</html>