<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-itunes-app" content="app-id=1132718018" />
<meta name="google-play-app" content="app-id=com.mob1st.vtex.cia.maritima" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<!-- Web Application Manifest -->
<link rel="manifest" href="manifest.json" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes" />
<meta name="application-name" content="OODJI-U" />
<link rel="icon" sizes="192x192" href="/files/favicon.jpg" />

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="OODJI-UK" />
<link rel="apple-touch-icon" href="/arquivos/favicon.jpg" />

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png" />
<meta name="msapplication-TileColor" content="#ebebeb" />

<!--<meta name="google-site-verification" content="include" />-->
<meta name="ROBOTS" content="INDEX, FOLLOW" />
<link rel="shortcut icon" href="/arquivos/favicon.ico?v=634981929241600000" type="image/x-icon" />

<meta name="theme-color" content="#3372DF" />

<!-- Page styles -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/files/V-MOB-main-mobile.min.css?v=1" />
<link rel="stylesheet" href="/files/GA-V-MOB--main-mobile--theme.css?v=1" />
<link rel="stylesheet" type="text/css" href="/files/sweetalert.css" />