<footer class="text-center">
    <div class="g-medium--full g-wide--full clearfix form-newsletter">
        <form>
            <p>Newsletter</p>
            <input class="form-newsletter--input" type="text" placeholder="Email..." />
            <input class="form-newsletter--input enviar" type="button" value="Send" />
        </form>
    </div>
    <div class="g-medium--full g-wide--full clearfix">
        <nav class="inline-list__social">
            <ul>
                <li><a class="button--social" href="https://www.facebook.com/oodji-226340137496379/"><i class="fa fa-facebook"></i></a></li>
                <li><a class="button--social" href="https://www.instagram.com/oodji.official/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="g-medium--full g-wide--full clearfix">
        <ul class="inline-list">
            <li><a href="/about">About Us</a></li>
            <li><a href="/about/contacts">Contacts</a></li>
        </ul>
    </div>
    <div class="g-medium--full g-wide--full clearfix">
        <a href="tel:+7(812) 346 59 69" class="button--black centered telphoneCall"><i class="fa fa-phone"></i>Touch for call</a>
        <p style="padding: 10px 0;"><a href="mailto:frontoffice@oodji.com">frontoffice@oodji.com</a></p>
        <button class="button--muted button_block">Back to top</button>
    </div>
    <div class="g-medium--full g-wide--full">
        <br/><br/>© 2018 oodji.com. All rights reserved
    </div>
</footer>
<!-- scripts -->
<script src="/files/owl.carousel.min.js" type="text/javascript"></script>
<script src="/files/sweetalert.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/arquivos/owl.carousel.css" />
<script src="/files/GA-V-MOB-main-mobile.js?v=1"></script>
<script src="/files/GA-V-MOB-main.js"></script>
<!-- end scripts -->